.register-form {
  background-color: var(--form-background-register);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}

.register-form .avatar-input {
  width: 50px;
}

.register-form label {
  font-size: var(--fontsize-text);
  font-family: var(--font-family-text);
  color: var(--text-form-register);
  margin-bottom: var(--margin-xs);
}

.register-form input {
  padding: var(--padding-xs);
  border: 1px solid #ccc;
  border-radius: var(--border-radius-buttons);
  font-size: var(--fontsize-text);
  font-family: var(--font-family-text);
}

.register-form button {
  padding: var(--padding-xs) var(--padding-m);
  margin-top: var(--margin-m);
}
