#create-event {
  min-height: 92svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-event h1 {
  color: var(--text-event-title);
  font-family: var(--font-family-title);
  font-size: 50px;
}
